html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  /*background-color: rgb(45, 61, 86); */
/*  background-color: DodgerBlue;  */
}

#root {
    min-height: 100vh; /*I put the same style in the .App class in App.css */
}
